// Fontes
$familyPrimary: 'Raleway', sans-serif;
$familySecond: monaco, Consolas, "Lucida Console", monospace;

// Cores
$purple: #ac53f2;
$grey: #5c5c5c;
$textColor: #444444;
$hover: rgba(0, 0, 0, 0.15);
