#button-component .button {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 16px 11px 16px;
  height: auto;
  line-height: 1.1;
  letter-spacing: 1.3px; }

#button-component .green {
  border: none;
  color: white;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }

#button-component .white {
  border: none;
  background: white; }
  #button-component .white:hover {
    color: white; }
