@import "assets/css/variables.scss";
@import "bulma/bulma";

#result-view {
  h1 {
    color: #000;
    font-family: $familySecond;
    font-size: 40px;
  }
  span {
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
  }

  .center {
    text-align: center;
  }
  .icon {
    margin-right: 7px;
    vertical-align: -4px;
  }
  .img {
    max-width: 280px;
  }
  .info {
    color: $grey;
    font-size: 20px;
  }
  .is-loading-custom {
    margin: 0 auto;
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid $purple;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.5em;
    position: relative;
    width: 1.5em;
  }
  .margin {
    margin-bottom: 15px;
  }
  .name {
    font-size: 35px;
  }
  .repos-name {
    color: $purple;
    font-size: 35px;
  }
  .repos-description {
    color: #000;
    font-size: 20px;
  }
}

@include touch {
  #result-view {
    h1 {
      font-size: 35px;
    }
    span {
      font-size: 35px;
    }
    .repos-name {
      font-size: 30px;
    }
    .repos-description {
      font-size: 15px;
    }
  }
}
