@import "assets/css/variables.scss";
@import "bulma/bulma";

#result-view {
  h1 {
    color: #000;
    font-family: $familySecond;
    font-size: 40px;
  }
  span {
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
  }

  .center {
    text-align: center;
  }
  .icon {
    margin-right: 7px;
    vertical-align: -6px;
  }
  .img {
    min-width: 280px;
  }
  .info {
    color: $grey;
    font-size: 20px;
  }
  .margin {
    margin-bottom: 15px;
  }
  .name {
    font-size: 35px;
  }
}

@include touch {
  #result-view {
    h1 {
      font-size: 35px;
    }
    span {
      font-size: 35px;
    }
  }
}
